torch
backports.functools-lru-cache==1.6.4
black==22.3.0
entrypoints==0.4
flake8==4.0.1
ipython-genutils==0.2.0
ipywidgets==8.0.4
isort==5.10.1
matplotlib==3.7.1
nbformat==5.7.3
omegaconf==2.3.0
pandas==1.5.3
pip-chill==1.0.1
pre-commit==2.17.0
pytest==7.0.1
torchmetrics==0.11.3
transformers==4.26.1
wandb==0.13.11
nltk==3.8.1